.global-input{
    margin-left: 77px;
    form{
        margin-right: 0;
        input{
            width: 200px;
            background: #444444;
            border: none;
            color: #fff;
            padding: 17px 40px;
            font-size: 14px;
            font-weight: 500;
        }
    }
    button{
        margin-left: 0;
        &::before,&::after{
            display: none;
        }
    }
}
.global-input-grp{
    &::before,&::after{
        display: none;
    }
}

.btn{
    color: #000 !important;
    &::before{
        display: none;
    }
    &.btn-secondary{
        background-color: #363636;
        color: #fff !important;
    }
}

.d-flex{
    &.gap-sm{
        gap: 5px;
    }
    &.gap-md{
        gap: 10px;
    }
}
label{
    margin-bottom: 0;
}
.widget-form{
    padding: 25px !important;
    form{
        input{
            margin-bottom: 0;
        }
    }
    .bottom-login{
        display: flex;
        justify-content: space-between;
    }
}

.input-checkbox{
    display: flex;
    align-items: center;
    width: 10px;
    gap: 10px;
    label{
        white-space: nowrap;
    }
}

.sidebar-list{
    li{
        padding: 5px 0;
        a{
            display: flex;
            justify-content: space-between;
            color: #787878;
            flex-wrap: nowrap !important;
            .left{
                display: flex;
                align-items: center;
                gap: 5px;
                span{
                    color: #000 !important;
                    font-size: 0.7em;
                }
            }
        }
    }
}

.my-badge{
    padding: 5px;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em !important;
    font-weight: 900;
    &.badge-primary{
        background-color: #e4a101;
    }
}
.my-badge2{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: fit-content;
    color: #000;
    font-size: 0.7em !important;
    font-weight: 500;
    &.badge-primary{
        background-color: #e4a101;
        color: #000;
    }
    &.badge-dark{
        background-color: #000000 !important;
        color:#fff;
        font-weight: 500;
    }
    &.badge-light{
        background: #e4e4e4;
        color: #000;
    }
    .count{
        background: #eb6c6c;
        border-radius: 5px;
        padding: 3px;
        margin-left: 10px;
        color: #fff;
    }
}


.nav-tabs{
    .nav-item{
        .nav-link{
            color: #000;
            cursor: pointer;
            &.active{
                background-color: #e4a101;
                color: #000000;
                font-weight: 900;
            }
        }
    }
}

.my-card{
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0000001f;
    position: relative;
    &.tag-red{
        &::before{
            content: attr(data-text);
            background-color: red;
            width: 50px;
            height: 45px;
            position: absolute;
            display: flex;
            -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0 100%);
            clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0 100%);
            top: 0;
            color: #fff;
            align-items: center;
            justify-content: center;
            left: 15px;
            transition: 0.2s ease-in;
        }
    }
    &.tag-blue{
        &::before{
            content: attr(data-text);
            background-color: rgb(35, 133, 253);
            width: 50px;
            height: 45px;
            position: absolute;
            display: flex;
            -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0 100%);
            clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0 100%);
            top: 0;
            color: #fff;
            align-items: center;
            justify-content: center;
            left: 15px;
            transition: 0.2s ease-in;
        }
    }
    .card-bod{
        img{
            width: 100%;
            border-radius: 5px;
        }
    }
    .card-foot{
        margin-top: 10px;
        font-size: 0.7em;
        .title{
            color: #000;
            font-weight: 900;
        }
        .sub-title{
            font-size: 0.9em;
            color: #0000007a;        
        }
        p{
            font-size: 1em;
        }
        &.flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
            i{
                font-size: 1.5em;
                color: #717171;
            }
        }
        .comments{
            display: flex;
            align-items: center;
            gap: 2px;
        }
    }
    &.horizontal{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        gap: 10px;
        .card-bod{
            img{
                width: 200px;
            }
        }
        .card-foot{
            text-align: left;
            margin-top: 0;
            .title,.sub-title,.text-center{
                text-align: left !important;
            }
            .title{
                width: 100%;
                display: block;
                text-align: left;
                margin-bottom: 10px;
            }
            .sub-title{
                text-overflow: unset;
                overflow: unset;
                white-space: initial;
                margin-bottom: 4px;
            }
        }
    }
    &:hover{
        &::before{
            height: 60px;
        }
        .card-foot{
            .title{
                color: #e4a101;
            }
        }
    }
}

.post-list{
    margin-top: 10px;
    li{
        margin-bottom: 8px;
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.7em;
            >{
                div{
                    display: flex;
                    align-items: center;
                }
            }
            .new-icon{
                width: 23px !important;
                height: 23px !important;
                min-width: 23px !important;
                min-height: 23px !important;
                max-width: 23px !important;
                max-height: 23px !important;
                border-radius: 100px;
                margin-right: 5px;
            }
            i{
                margin-right: 5px;
                color: #aaaaaa !important;
            }
        }
    }
}

.my-row{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    &.six-col{
        >{
            div,a{
                width: calc(100% / 6 - 5px);
            }
        }
    }
    &.four-col{
        >{
            div,a{
                width: calc(100% / 4 - 5px);
            }
        }
    }
    &.two-col{
        >{
            div,a{
                width: calc(100% / 2 - 5px);
            }
        }
    }
}

.side-banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.5s ease;
    top: 50%;
    transform: translateY(10%);
    z-index: 1;
    &.left{
        left: 90px;
    }
    &.right{
        right: 90px;
    }
    &.to-center{
        top: 50%;
        transform: translateY(10%);
        transition: 0.5s ease;
    }
}
.modal{
    z-index: 1000;
}

$color_1: #9b9b9b;
$color_2: #636363;

.global-form {
	background: #fff;
	padding: 25px 25px 45px;
	span {
		font-size: 14px;
		font-weight: 400;
		color: $color_1;
		display: block;
		margin-bottom: 20px;
	}
	form {
		input {
			width: 100%;
			border: 1px solid #ebebeb;
			padding: 18px 20px;
			font-size: 14px;
			color: $color_2;
			margin-bottom: 20px;
			&::placeholder {
				font-size: 14px;
				color: $color_1;
			}
		}
		.btn {
			&::before {
				bottom: 0;
			}
			padding: 16px 39px;
			overflow: hidden;
		}
	}
}
.community-widget,.widget-form{
    border:1px solid #0000001f;
    border-radius: 5px;
}
$default_color4:#252525;
$default_color3:#fff;
$color_1: #FFF;
$background-color_1: $default_color4;
$background-color_2: #005aae;
$border-color_1: $default_color4;
$border-color_2: transparent;
$border-color_3: #005aae;
$border-left-color_1: transparent;
$border-left-color_2: $default_color4;
$border-left-color_3: $default_color4;
$border-left-color_4: #005aae;

#breadcrumb {
	list-style: none;
	display: flex;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
	.fa {
		font-size: 14px;
	}
	li {
		float: left;
		a {
            color:$default_color3;
            display: flex;
            background: $default_color4;
            text-decoration: none;
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 0 10px 0 5px;
            text-align: center;
            margin-right: 23px;
            transition: unset;
            white-space: nowrap;
            align-items: center;
            gap: 6px;        
            i{
                color: $default_color3;
            }
			&:before {
				content: "";
				position: absolute;
				top: 0;
				border: 0 solid $default_color4;
				border-width: 20px 10px;
				width: 0;
				height: 0;
				left: -20px;
				border-left-color: $border-left-color_1;
			}
			&:after {
				content: "";
				position: absolute;
				top: 0;
				border: 0 solid $default_color4;
				border-width: 20px 10px;
				width: 0;
				height: 0;
				left: 100%;
				border-color: $border-color_2;
				border-left-color: $border-left-color_3;
			}
			&:hover {
				background-color: $background-color_2;
                color: $color_1;
                i{
                    color: $color_1;
                }
				&:before {
					border-color: $border-color_3;
					border-left-color: $border-left-color_1;
				}
				&:after {
					border-left-color: $border-left-color_4;
				}
			}
			&:active {
				background-color: $background-color_2;
				&:before {
					border-color: $border-color_3;
					border-left-color: $border-left-color_1;
				}
				&:after {
					border-left-color: $border-left-color_4;
				}
			}
		}
		&:first-child {
			a {
				padding-left: 15px;
				-moz-border-radius: 4px 0 0 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px 0 0 4px;
				&:before {
					border: none;
				}
			}
		}
		&:last-child {
            width: 100%;
            pointer-events: none;
			a {
				padding-right: 15px;
				-moz-border-radius: 0 4px 4px 0;
				-webkit-border-radius: 0;
				border-radius: 0 4px 4px 0;
                margin-right:0;
				&:after {
					border: none;
				}
			}
		}
	}
}

.my-tab{
    display: flex;
    align-items: center;
    gap: 5px;
    li{
        width: 100%;
        height: 45px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: #cecece;
        }
        &.active,&:hover{
            a{
                background: #1b1b1b;
                color: #e5a102;
            }
        }
        &:hover{
            a{
                background: #3a3a3a;
                color: #e5a102;
            }
        }
    }
    &.sub-tab{
        gap: 0;
        background: #1b1b1b;
        li{
            &:not(:last-child){
                border-right: 1px solid #6a6a6a;
            }
            a{
                background: #1b1b1b;
                color: #fff;
            }
        }
    }
}

.page-link{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #282828;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.page-item{
    &.active{
        .page-link{
            background: #1b1b1b;
            border-color: #1b1b1b;
            color: #e5a102;
        }
    }
}

.btn-sm{
    padding: 10px;
}

.btn{
    &.btn-primary{
        &:hover{
            background-color: #000;
            color: #e4a101 !important;
        }
    }
}

.table{
    font-size: 0.8em;
    thead{
        th{
            color: #000;
        }
    }
    tbody{
        tr{
            cursor: pointer;
            td{
                color: #888888;
            }
        }
    }
}